  #switches{
                height: 50%;
                width: 50%;
                float: left;
            }
            #canvasWrapper{
                height: 50%;
                width: 50%;
                left: 50%;
                position: relative;
            }
            #canvas{
                position: relative;
                top: 0%;
            }
            .switch{
                padding: 5%;
            }
              /* Optional: Makes the sample page fill the window. */
               body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
              }
              html {
                height:100%;
                width: 100%;
              }
              #map{
                  background: green;
                  height: 50%;
                  width: 50%;
                  margin: auto;
                  
                  
              }
              * { margin:0; padding:0; }