#switches{
                height: 50%;
                width: 50%;
                position: relative;
                 margin: auto;
            }
            #canvas{
                margin: auto;
                width:50%;
                height: 50%;
                
            }
            .switch{
                padding: 5%;
            }
              /* Optional: Makes the sample page fill the window. */
               body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                background: gold;
              }
              html {
                height:100%;
              }
              #map{
                  height: 50%;
                  width: 50%;
                  margin: auto;
              }